

.header {
  // background: #f7f7f7;
  background: $light-background;
  // padding: $l-size;
  padding: $m-size;
}

.header__title {
  color: $pink;
  text-decoration: none;
  font-size: 2.3rem;
  
  h1 {
    margin: 0;
  } 
}