//Colors
$button: #c3ff63;
$light-blue: #C3DAFE;
// $pink: #B83280;
$pink: #008489;
$light-background: #f7e9e9;

//Font Size
$font-size-large: 1.8rem;
$font-size-medium: 1.4rem;

//Spacing
$s_size: 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$desktop-breakpoint: 45rem;